<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <p>{{ mensagem }}</p>

    <form action="/form_teste", method="POST">
        <h3>Usuario</h3>
        <input type="text" id="login" name="login" autocomplete="off" />
        <h3>Senha</h3>
        <input type="password" id="pwd" name="password" autocomplete="off" />

        <button type="submit">Logar</button>
    </form>
</body>
</html>