<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de Aluno</title>
</head>

<body>

    <h1>Cadastrar Aluno</h1>

    <form action="/add" class="container" method="POST">

        <input type="text" name="nome" placeholder="Digite seu nome" />
<br />

<input type="text" name="email" placeholder="Digite seu email" />

<br />

<input type="text" name="logradouro" placeholder="Digite seu endereço" />

<br />

<input type="text" name="numero" placeholder="Digite o número da casa" />

<br />

<input type="text" name="cep" placeholder="Digite seu cep" />

<br />

<input type="text" name="complemento" placeholder="Digite seu complemento" />

<br />

<input type="submit" value="Enviar" />

</form>

</body>

</html>