<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de Cliente</title>
</head>

<body>

    <h1>Editar Cliente {{cliente.name}}</h1>

    <form action="/edit/{{cliente.id}}" method="POST">

        <input type="text" name="nome" value="{{cliente.name}}" />

        <input type="text" name="comentario" value="{{cliente.comment}}" />
<br />

<input type="submit" value="Enviar" />

</form>

</body>

</html>