<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de Aluno</title>

</head>

<body>
    <h1>Crud Aluno</h1>
    <a href="/add">Adicionar Aluno</a>

    <table border="1" width="70%">

<thead>

            <tr>

                <th>Nome</th>
                <th>e-mail</th>
                <th>Logradouro</th>
                <th>Nº</th>
                <th>CEP</th>
                <th>Complemento</th>

                <th>Ações</th>

            </tr>
</thead>

<tbody>

    {% for c in clientes %}

    <tr>

        <td>{{c.nome}}</td> 
        <td>{{c.email}}</td>
        <td>{{c.logradouro}}</td>
        <td>{{c.numero}}</td>
        <td>{{c.cep}}</td>
        <td>{{c.complemento}}</td>

<td>

            <a href="/edit/{{c.id}}">Editar</a> 

            <a href="/delete/{{c.id}}">Excluir</a>
</td>

</tr>

{% endfor %}

</tbody>

</table>

</body>

</html>